CMakeCache.txt
CMakeFiles/
bin/
_deps/
build/
*.cmake
!docs/docs.cmake
!src/libs/libs.cmake
!src/sketches/avr.cmake
!src/sketches/samd.cmake
!src/sketches/sketches.cmake
!src/tests/tests.cmake
!utils/utils.cmake
lib/
out/
Makefile
cov_result.info
coverage/
CMakeDoxyfile.in
Doxyfile